@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  overflow: hidden;
  width: 100%;
}

.btn {
  display: block;
  background-color: #2acfcf;
  color: #fff;
  border-radius: 30px;
  padding: .6rem 1.5rem;
  font-weight: 600;
  font-size: .9rem;
  width: max-content;
}

.btn:hover {
  opacity: .5;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  max-width: 940px;
  padding: 20px;
  margin: 1.5rem auto;
}

@media (max-width: 768px) {
  .btn {
    padding: .8rem 1.5rem;
    width: 100%;
    margin: auto;
  }
}